@import url("https://fonts.googleapis.com/css?family=Poppins:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* viewport height, takes up entire height of the screen */
  height: 100vh;
  margin: 0;
  /* Hide scroll bar */
  overflow: hidden;
}
