@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  /* viewport height, takes up entire height of the screen */
  height: 100vh;
  margin: 0;
  /* Hide scroll bar */
  overflow: hidden;
  column-gap: 20px;
  row-gap: 20px;
  background-color: cornflowerblue;
}

@media (max-width: 800px) {
  body {
    flex-direction: column;
  }
}

.empty {
  width: 150px;
  height: 150px;
  border: 2px solid white;
  overflow: hidden;
}

.fill {
  width: 150px;
  height: 150px;
  background-image: url("https://source.unsplash.com/random/150x150");
  cursor: pointer;
}

.hold {
  border: 2px solid coral;
}

.hovered {
  background-color: #333;
  border: 2px dashed #fff;
}
