* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 100%;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: rgb(233, 255, 209);
  padding-top: 150px;
  padding-bottom: 99999px;
}

.header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  background-color: rgb(233, 255, 209);
  /* background-color: rgb(36, 36, 36); */
  flex: 1;
  width: 100%;
  height: 50px;
  color: rgb(31, 31, 31);
  font-size: 1.1em;
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  align-items: center;
  padding: 5px 20px;
  top: 0;
  z-index: 9999;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
}

.navigation-bar li {
  display: inline;
  cursor: pointer;
  transition-duration: 0.15s;
  margin: 0px 10px 0px 10px;
}

.navigation-bar li:hover {
  /* background-color: black; */
  color: rgb(233, 255, 209);
  text-shadow: 0px 1px 2px rgb(0, 0, 0);
}

.main-container {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
}

.welcome-text {
  font-family: "Bebas Neue";
  color: rgb(26, 26, 26);
  margin-left: 450px;
}

.intro {
  font-size: 3.1em;
  font-weight: 700;
  letter-spacing: 5px;
  font-family: "Amatic SC", cursive;
}

.my-name {
  font-size: 5.3em;
  font-weight: 700;
  color: rgb(32, 32, 32);
  letter-spacing: 25px;
}

.content-box-container {
  position: relative;
  display: flex;
  width: 100%;
  height: 150px;
  justify-content: center;
}

.content-box {
  position: absolute;
  color: rgb(26, 26, 26);
  width: 40%;
  padding: 10px 20px;
  flex: 1;
  font-size: 1.3em;
  margin-left: 230px;
  font-family: "Barlow";
}
