* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1em;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: #24252a;
  padding-top: 150px;
  padding-bottom: 99999px;
  color: aliceblue;
}

.header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  background-color: #24252a;
  flex: 1;
  width: 100%;
  height: 50px;
  font-size: 1.15em;
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  align-items: center;
  padding: 5px 20px;
  top: 0;
  z-index: 9999;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
  border-bottom: 1px groove white;
}

.navigation-bar li {
  display: inline;
}

.navigation-bar li a {
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color, color;
  margin: 0px 10px 0px 10px;
  padding: 10px;
  text-decoration: none;
  color: aliceblue;
}

.navigation-bar li a:hover {
  background-color: rgb(31, 31, 31);
  color: cornflowerblue;
}

.contact-button {
  padding: 5px 10px;
  border: 1px groove aliceblue;
  background-color: transparent;
  color: aliceblue;
  cursor: pointer;
  transition: background-color 300ms ease-out, color 300ms ease-in;
}

.contact-button:hover {
  background-color: cornflowerblue;
  color: white;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.welcome-text {
  font-family: "Bebas Neue";
  margin-left: 450px;
}

.intro {
  font-size: 3.1em;
  font-weight: 700;
  letter-spacing: 5px;
  font-family: "Amatic SC", cursive;
}

.my-name {
  font-size: 5.3em;
  font-weight: 700;
  letter-spacing: 25px;
}

.content-box {
  width: 40%;
  padding: 10px 20px;
  flex: 1;
  font-size: 1.3em;
  margin: 20px 0px 0px 790px;
  font-family: "Barlow";
}

.content-box ul {
  list-style: none;
  line-height: 40px;
}
